<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561656185663-f79sfei1me68splgi378hjfst4nf0bfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561656185663-f79sfei1me68splgi378hjfst4nf0bfm</string>
	<key>API_KEY</key>
	<string>AIzaSyCpBejKwEYkWMKa5Jp9saVa_2gBeiN2j4w</string>
	<key>GCM_SENDER_ID</key>
	<string>561656185663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireBaseDenemeleri1</string>
	<key>PROJECT_ID</key>
	<string>udemy-firebase-dersi</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-firebase-dersi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561656185663:ios:7dd7879e9c70cf79b7898a</string>
</dict>
</plist>